<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>

    <!-- an alert poppup message -->
     <% if (messages) { %>
        <p style="color: green;">
            <%= messages.success %>
        </p>
        <!-- <script>
            alert("<%= messages.success %>");
        </script> -->
    <% } %>


    <h1>Welcome <%= user.username %>!</h1>



    <button id="logoutBtn">Logout</button>

<script>

   
    document.getElementById("logoutBtn").addEventListener("click", async () => {
        try {
            const res = await fetch("/logout", { method: "GET" });
            if (res.ok) {
                window.location.href = "/login"; // Redirect manually
            }
        } catch (err) {
            console.error("Logout failed", err);
        }
    });
</script>

</body>
</html>
